<main>
  <h2 class="title">Es mutante o no?</h2>
  <form (submit)="handleSubmit($event)">
    <div class="form-container">
      <label for="userInput">Ingrese la secuencia DNA:</label>
      <textarea
        name="userInput"
        cols="30"
        rows="10"
        (input)="handleInput($event)"
      ></textarea>
      <small>* Cada cadena debe estar separada por coma</small>
    </div>
    <button class="form-button" type="submit">CALCULAR</button>
  </form>
  <div *ngIf="result" class="result-box">El resultado es: {{ result }}</div>
</main>
